.activePlayersStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
}
.activePlayersItemStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  border: 1px solid #f3ce75;
  border-radius: 12px;
  color: var(--liteyellow);
  font-family: Rajdhani;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  cursor: pointer;
}
.activePlayerVaultItemSelected {
  background: var(--darkyellow);
  color: var(--dark);
  border-color: var(--darkyellow);
}
.activePlayerName {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin: 0;
}
.activePlayerScore {
  border-left: 1px solid var(--liteyellow);
  width: 51px;
  margin: 0;
  padding: 16px 0;
}
.activePlayerScoreSelected {
  background: var(--dark);
  color: var(--darkyellow);
  border-color: var(--darkyellow);
  border-radius: 0 12px 12px 0;
}

/* Footer Styles */
.footerVaultButtonLabelStyle {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: "100%";
  font-family: "Rajdhani";
}
.footerVaultButtonIconStyle {
  width: 28px;
  height: 28px;
  margin-top: 4px;
  margin-bottom: -10px;
}
.footerVaultButtonDoubleLabelStyle {
  font-family: "Changa";
  font-weight: 200;
  font-size: 24px;
  line-height: 70%;
  margin: 10px 0 0 0;
}
