.headerRulesButtonStyle {
  background: transparent;
  border-radius: 12px;
  border: 1px solid var(--yellow);
  color: var(--yellow);
  font-size: 16px;
  font-weight: 700;
  width: 84px;
  height: 35px;
  padding: 4px 12px;
}

.rulesContainer {
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  padding: 0 16px 48px 16px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.sectionHeader {
  font-size: 32px;
  font-style: bold;
  color: var(--yellow);
  margin: 0;
}

.sectionText {
  font-size: 24px;
  text-align: start;
  color: var(--yellow);
  margin: 0;
}

.imgTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
