.header {
  background-color: var(--dark);
  box-shadow: 0px 25px 7px 0px rgba(0, 0, 0, 0),
    0px 16px 6px 0px rgba(0, 0, 0, 0.01), 0px 9px 5px 0px rgba(0, 0, 0, 0.05),
    0px 4px 4px 0px rgba(0, 0, 0, 0.09), 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 170px;
  /* TODO: Get initial height from Chris */
  padding: 24px 16px;
  width: 100%;
  transition: all 1s;
}
.header.round-over {
  height: 300px;
}

.header .title {
  color: var(--darkyellow);
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 28px;
}
.header .formatted-number {
  border-radius: 12px;
  padding: 4px 12px;
  color: var(--darkyellow);
}
.header .formatted-number.border {
  border: 1px solid var(--yellow);
}

.header .button {
  box-shadow: 0px 30px 8px 0px rgba(0, 0, 0, 0),
    0px 19px 8px 0px rgba(0, 0, 0, 0.01), 0px 11px 6px 0px rgba(0, 0, 0, 0.05),
    0px 5px 5px 0px rgba(0, 0, 0, 0.09), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background: var(--darkyellow);
  color: var(--dark);
  outline: none;
}

.header .subtitles {
  color: var(--darkyellow);
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.header .subtitle {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  transition: all 1s;
}
.header .subtitle.round-over {
  display: none;
}
.header .subtitle.round-o {
  text-align: center;
  width: 100%;
}
