.onboarding-leaderboard {
  background-color: var(--dark);
  padding: 16px;
  flex-grow: 1;
}
.onboarding-leaderboard .custom-row {
  background-color: var(--dark);
  border-radius: 12px;
  border: 1px solid var(--yellow);
  color: var(--darkyellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 8px;
}
.onboarding-leaderboard .custom-row p {
  color: var(--darkyellow);
  font-size: 16px;
  margin: 0;
}
.onboarding-leaderboard .delete-button {
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Onboarding Footer */
.onboarding-footer {
  margin: 24px 16px;
}

.onboarding-footer .button.active {
  border-radius: 12px;
  background: var(--lite, #f1ede2);
}
.onboarding-footer .button.bgyellow {
  background-color: var(--yellow);
}

/* Onboarding Header */
.onboarding-header {
  display: flex;
  flex-wrap: wrap;
}
.onboarding-header .onboarding-title {
  color: var(--darkyellow);
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
  width: 100%;
}
.onboarding-header input::placeholder {
  color: var(--darkyellow);
  opacity: 0.5;
}
.onboarding-header input {
  background-color: transparent;
  color: var(--darkyellow);
  flex-grow: 1;
  font-size: 20px;
  font-weight: 700;
  padding: 4px;
  margin-right: 16px;
  border-radius: 12px;
  border: 1px solid var(--darkyellow);
  font-family: 'Rajdhani', sans-serif;
}
.onboarding-header input:active {
  outline: none;
}
